@charset "utf-8";
/* CSS Document */



/*visual*/
/*visual slide*/

        .jssorb05 {
            position: absolute;
        }

        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('../img/b05_1.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }


        .jssora22l, .jssora22r { 
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 20px;
            height: 29px;
            cursor: pointer;
            background: url('../img/a22_1.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -5px -15px; }
        .jssora22r { background-position: -35px -15px; }
        .jssora22l:hover { background-position: -65px -15px; }
        .jssora22r:hover { background-position: -95px -15px; }
        .jssora22l.jssora22ldn { background-position: -125px -15px; }
        .jssora22r.jssora22rdn { background-position: -155px -15px; }
        .jssora22l.jssora22lds { background-position: -5px -15px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -35px -15px; opacity: .3; pointer-events: none; }


.stingera { text-align: center; width: 90px; height: 20px; background: #c41230; color: #fff; display: block; line-height: 20px; transition: all 0.5s; }
.stingera:hover { background: #6b0a1a; }

/*contents*/

/*차량 둘러보기*/

#contents .cont1 h2 { text-align: center; font-size: 25px; margin-bottom:30px; }
.cont1{	margin: 100px 0; overflow:hidden; }
.cont1 h3{margin-bottom:10px;}
#cars{text-align:center;
	width: 100%;overflow:hidden;
	padding-top:18px;
	position:relative;
}
#cars ul img { height: 70px; }
#cars a { color: #000; font-size: 15px; }
#cars .cars_txt{
	padding-top:20px;
	line-height: 2;
}
#cars .cars_txt .sp1 { font-size: 25px; font-weight: bold; }
#cars .cars_txt .sp2 { font-size: 14px; font-weight: bold; }
#cars .cars_txt .sp3 { color: #c41230; line-height: 4; }
#cars ul li .cars_txt .sp4 { font-size: 12px; transition: all 0.5s; }
#cars ul li:hover .cars_txt .sp4 { color: #c41230; }

#cars .prev_btn{
	position: absolute; top: 98px; left:20px;
}
#cars .prev_btn img, #cars .next_btn img { width: 30px; }
#cars .next_btn{
	position: absolute; top: 98px; right: 20px;
}

#cars .all { margin-top: 10px; text-align: center; color: #fff; line-height: 0.5; }
#cars .all a {  font-size: 12px; color: #fff; background: #c41230; transition: all 0.5s; width: 119px; height: 30px; display: inline-block; line-height: 30px; }
#cars .all a:hover { background: #6b0a1a; }



/*이달의 구매 혜택*/
#contents .cont2 { margin: 0 auto; width: 100%; overflow:hidden; /*background:pinkurl(../images/mspecial_offer.jpg) no-repeat center  #99152d*/ ; text-align: center; padding-top: 28px; box-sizing: border-box; position:relative;}
#contents .cont2 img{width:100%;}
#contents .cont2 h2 { color: #fff; font-size: 25px; position:absolute;top:40px; left:50%;transform:translateX(-50%); }
#contents .cont2 .detail { position:absolute;top: 75px; left:50%;transform:translateX(-50%);}
#contents .cont2 .detail a { margin-top: 10px; font-size: 12px; color: #fff; border: 1px solid #fff; transition: all 0.5s; width: 100px; height: 25px; display: inline-block; line-height: 25px; }
#contents .cont2 .detail a:hover { color: #b9162b; border: 1px solid #b9162b; background: #fff; } 



/*차량비교*/
#contents .cont3 { margin: 100px auto ; width: 100%; overflow:hidden; }
#contents .cont3>div{float: left;}
#contents .cont3 .cont3-1 { height: 150px; width: 35%; text-align: center; padding: 10px; box-sizing: border-box; }
#contents .cont3 .cont3-1 h2 { font-size: 20px;margin-top:10%;}

#contents .cont3 .cont3-1 .cont3_txt1 { margin: 17px auto; font-size: 13px; font-family: 'Noto Sans KR', sans-serif; line-height: 1; }
#contents .cont3 .cont3-1 .cont3_txt2 { font-size: 13px; font-family: 'Noto Sans KR', sans-serif; line-height: 1; }
#contents .cont3 .cont3-1 a { color: #000; transition: color 0.5s; }
#contents .cont3 .cont3-1 a:hover { color: #c41230; }
#contents .cont3 .cont3-1 span { font-size: 18px; font-weight: bold; color: #bb162b; }

#contents .cont3 .cont3-2{width:65%;background:pink;}
#contents .cont3 .cont3-2 img { width:100%; }


/*기아 뉴스*/
#contents #cont4 h2 { margin-bottom: 26px; font-size: 20px; line-height: 1; }
#cont4{ margin: 0 auto 150px; width: 100%; height: 270px; background: url(../images/news.png) no-repeat; text-align: center; padding-top: 20px; box-sizing: border-box; margin: 150px 0; overflow:hidden; background-size:cover;}
#cont4 a { color: #000; }
#cont4 h3{margin-bottom:10px;}
#cont4-1{ margin: 0 auto; text-align:center;
	width: 90%; height: 180px;
	box-sizing: border-box; 
	background: #fff;
	position:relative;
}
#cont4-1 ul img { height: 130px; }
#cont4-1 a { color: #000; font-size: 15px; }

#cont4-1 .cont4_txt{
	padding-top:15px;
	line-height: 1;
}
#cont4-1 .cont4_txt .sp1 { font-size: 12px; color: #888; font-weight: bold; display: block; }
#cont4-1 .cont4_txt .sp2 { font-size: 17px; font-weight: bold; display: block; margin: 10px auto;  }
#cont4-1 .cont4_txt .sp3 { font-size: 12px; color: #c41230; }
#cont4-1 ul li .cont4_txt .sp4 { font-size: 12px; transition: all 0.5s; }
#cont4-1 ul li:hover .cont4_txt .sp4 { color: #c41230; }

#cont4-1 .prev_btn{ position: absolute; top: 90px; left:20px;}
#cont4-1 .next_btn{ position: absolute; top: 90px; right: 20px;}
#cont4-1 .prev_btn img, #cont4-1 .next_btn img { width: 12px; }

#cont4-1 .all { margin-top: 15px; text-align: center; color: #fff; line-height: 0.5; }
#cont4-1 .all a { font-size: 12px; color: #fff; background: #c41230; transition: all 0.5s; width: 119px; height: 25px; display: inline-block; line-height: 25px; }
#cont4-1 .all a:hover { background: #6b0a1a; }

/*가까운 영업점*/
#contents .cont5 { text-align: center; margin: -60px auto 100px; width: 100%; height: 272px; background: url(../images/mlocaldealer.jpg) no-repeat center center fixed; background-size: cover; padding-top: 80px; box-sizing: border-box; }
#contents .cont5 h1 { font-size: 30px; color: #fff; line-height: 1; }
#contents .cont5 .cont5_form input { margin: 45px auto; width: 250px; height: 32px;  /*background: #fff url(../images/local_dealer_icon.png) no-repeat 98% 4px; width: 300px; height: 35px; */padding: 4px; box-sizing: border-box; border: 1px solid #a0a0a0; }

#contents .cont5 .local { float: right; margin-right: 4px; }
#contents .cont5 a { position: relative; left: -40px; top: 48px; }



/*고객센터 시승신청*/
#contents .cont6 { margin: 0 auto 100px; width: 100%; overflow:hidden; text-align: center }
#contents .cont6>div { cursor: pointer; width: 33.333%; height: 200px;float: left; }
#contents .cont6>div:hover { text-decoration: underline #fff; }

#contents .cont6>div p{ font-size: 15px; color: #fff;}

#contents .cont6 .cont6-1 {  background: #bc162c; }
#contents .cont6 .cont6-1 img { height: 50px; margin: 48px auto 17px; }

#contents .cont6 .cont6-2 {  background: #3d4657; }
#contents .cont6 .cont6-2 img { height: 50px; margin: 49px auto 15px; }

#contents .cont6 .cont6-3 {  background: #aeaeae;/* 1f1f1f */ }
#contents .cont6 .cont6-3 img { height: 40px; margin: 58px auto 16px; }



