@charset "utf-8";
/* CSS Document */

/*contents*/


#contents .wrap { margin: 0 auto; width: 100%; overflow: hidden; border-top: 1px solid #f0f0f0; text-align: center; }
	#contents .wrap .joinbox { margin: 50px auto 70px; width: 100%; overflow: hidden; }
	#contents .wrap .joinbox h2{ font-size: 20px; font-weight: normal; }
	
	#contents .wrap .joinbox .iconbox { margin: 30px auto 25px; width: 90%; height: 128px; }
	#contents .wrap .joinbox .icons li, #contents .wrap .joinbox .texts li { float: left; }
	
	#contents .wrap .joinbox .iconbox ul { width: 100%; }

	#contents .wrap .joinbox .icons { margin: 0 0 15px 0; }

		#contents .wrap .joinbox .icons .circles { width: 100%; }
			#contents .wrap .joinbox .icons li { width: 18%; }
	#contents .wrap .joinbox .icons li:first-child { }
	#contents .wrap .joinbox .icons li:nth-child(2n) { width: 8px; margin: 30px 10px 0; }
	

	#contents .wrap .joinbox li p { width: 80px; font-size: 8px; color: #ccc; margin: 15px 0 0 -10px; text-align: center; }
	#contents .wrap .joinbox li:first-child p { color: #000; }
	
	#contents .wrap .joinbox .line { width: 100%; height: 1px; background: #000; }

	#contents .wrap .joinbox h3 { margin: 25px; font-size: 15px; font-weight: normal; float: left; }
	/*여기까지가 공통적으로 필요한것들 */
	
	/*약관동의 박스*/
	#contents .contract { margin: 0 auto; width: 90%; height: 200px; padding: 20px 20px; box-sizing: border-box; border: 1px solid #aeaeae; overflow: auto; text-align: left; line-height: 1.6;  }

		#contents .contract dl { margin-bottom: 20px; }
		#contents .contract dt { margin-bottom: 8px; font-weight: bold; font-size: 13px; }
		#contents .contract dd { margin-left: 5px; }



	#contents .cont1 { margin-bottom: 13px; }
#contents .cont_txt1 { margin-bottom: 53px; text-align: right; }
#contents .cont_txt1 span { cursor:pointer; }

 .cont_txt1 input[type="checkbox"]{display:none;} /*실제 체크박스 없애기*/

 .cont_txt1 input[type="checkbox"] + label::before{ content:''; display: inline-block; width: 12px; height: 12px; vertical-align: middle; margin: -3px 10px 0 5px; background: #c41230; cursor: pointer; }/* 가짜 체크박스 만들기*/

 .cont_txt1 input[type="checkbox"]:checked + label::before{ background: url("../images/checkedbox.jpg")no-repeat center; }/* 가짜 체크박스 체크했을 때 */
 .cont_txt1 input[type="checkbox"] + label span{ cursor:pointer; }




	#contents .cont2 { margin-bottom: 13px; }
#contents .cont_txt2 { text-align: right; margin-bottom: 30px; }
#contents .cont_txt2 span { cursor:pointer; }

 .cont_txt2 input[type="checkbox"]{display:none;} /*실제 체크박스 없애기*/

 .cont_txt2 input[type="checkbox"] + label::before{ content:''; display: inline-block; width: 12px; height: 12px; vertical-align: middle; margin: -3px 10px 0 5px; background: #bc162c; cursor: pointer; }/* 가짜 체크박스 만들기*/

 .cont_txt2 input[type="checkbox"]:checked + label::before{ background: url("../images/checkedbox.jpg")no-repeat center; }/* 가짜 체크박스 체크했을 때 */
 .cont_txt2 input[type="checkbox"] + label span{ cursor:pointer; }



#contents .cont_txt3 { text-align: right; margin-bottom: 12px; }
#contents .cont_txt3 span { cursor:pointer; }

 .cont_txt3 input[type="checkbox"]{display:none;} /*실제 체크박스 없애기*/

 .cont_txt3 input[type="checkbox"] + label::before{ content:''; display: inline-block; width: 12px; height: 12px; vertical-align: middle; margin: -3px 10px 0 5px; background: #c41230; cursor: pointer; }/* 가짜 체크박스 만들기*/

 .cont_txt3 input[type="checkbox"]:checked + label::before{ background: url("../images/checkedbox.jpg")no-repeat center; }/* 가짜 체크박스 체크했을 때 */
 .cont_txt3 input[type="checkbox"] + label span{ cursor:pointer; }



#contents .wrap .joinbox .agreebtn { margin: 40px 0 10px; box-sizing: border-box; font-size: 13px; text-align: center; color: #fff; display: inline-block; width: 150px; height: 35px; line-height: 35px; background: #c41230; transition: all 0.5s; }
#contents .wrap .joinbox .agreebtn:hover { background: #6b0a1a; }



